@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

// * {
//     border: 2px solid red;
// }

body {
    background-color: #DDDDDD;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

 //frequently used classes

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.chord-tile {
    flex: 1;
    padding: 75px;
    background-color: #DDDDDD;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    box-shadow: 8px 8px 8px gray;
    
}



//Document

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;

}

h4 {
 font-weight: 400;
 
}

#content-header {
    align-items: center;
    justify-content: center;
}

#generator {
    align-items: center;
    justify-content: center;
}

#generator-options {
    justify-content: center;
    margin: 20px;
    
    
}
select {
    
    border-radius: 5px;
    background-color: #DDDDDD;
    border: 4px solid black;
    margin: 5px;
    font-size: 25px;
}

button {
    border-radius: 5px;
    background-color: #DDDDDD;
    margin: 5px;
    border: 4px solid black;
    padding: 5px;
    font-size: 25px;

}



footer {
    background-color: #373737;
    text-align: right;
    color: #DDDDDD;
    padding: 20px;
    width: 100vw;

    p {
        margin: 5px;
    }
}


//for piano keys may not use for a while
// .piano-white {
//     width: 20px;
//     height: 100px;
//     background-color: white;
//     border: 2px solid black;
    
//     right:10px;
// }

// .piano-black {
//     width: 20px;
//     height: 70px;
//     background-color: black;
//     border: 2px solid white;
//     right: 10px;
// }